@import url(../reset.css);
@import url(../nav.css);
@import url(../layout.css);
@import url(../var.css);

section.infosite header{
    grid-area: ih;
    background-color: aqua;
}
section.infosite main{
    grid-area: im;
    background-color: cadetblue;
    padding: 10px;
}
section.infosite main .cadastrar-area{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 60px;
    margin: 10px 0 20px 0;
}