@import url(../reset.css);
@import url(../nav.css);
@import url(../layout.css);
@import url(../var.css);

body{
    overflow: hidden    ;
}
.infosite header h2{
    font-size: 3rem;
    font-weight: 800;
    color: var(--corSuporte);
}
section.infosite main .select-area{
    width: 100%;
    height: 60px;
    background-color: white;
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: flex-end;
}
section.infosite main .select-area select{
    width: 200px;
    height: 40px;
    padding-left: 5px;
    color: var(--corPrincipal);
    border: solid 2px var(--corPrincipal);
    border-radius: 100px;
}
section.infosite main .area-agenda{
    width: 100%;
    height: 380px;
    background-color: var(--corPrincipal);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 5px;
}
section.infosite main .area-agenda .area-scroll{
    width: 100%;
    overflow-y: scroll;
    height: 100%;
}

section.infosite main .area-agenda .area-scroll .row-data{
    width: 100%;
    height: 60px !important;
    padding: 0 5px 0 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: solid 2px var(--corPrincipal);
    background-color: white;
    display: flex;
    gap: 5px;
}
section.infosite main .area-agenda .area-scroll .row-data span{
    width: 20%;
    height: 90%;
    display: flex;
    font-size: .8rem !important;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    color: var(--corPincipal);
    border-left: solid 1px var(--corPrincipal);
    overflow: hidden;
}
section.infosite main .area-agenda .area-scroll .row-data span:nth-child(1){
    justify-content: center;
    font-weight: 700;
    background-color: var(--corPrincipal);
    color: white;
    border-radius: 5px;
}
section.infosite main .area-agenda .area-scroll .row-data.cabecalho span{
    background-color: white;
    justify-content: center;
    border-left: solid 2px var(--corPrincipal);
    color: var(--corPrincipal);
    font-weight: 800;
    padding: 5px;
    font-size: 1rem !important;
}
section.infosite main .area-agenda .area-scroll .row-data.cabecalho span:nth-child(1){
    border: transparent;
    border-radius: 0;
}

.cancelar,
.agendar{
    width: 60%;
    height: 70%;
    outline: none;
    color: white;
    padding: 0 2px 0 2px;
    border: solid 2px transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s;
}
.cancelar{
    background-color: red;
}
.cancelar:hover{
    background-color: white;
    color: red;
    border: solid 2px red;
    transition: .2s;
}
.agendar{
    background-color: green;
}
.agendar:hover{
    background-color: white;
    color: green;
    border: solid 2px green;
    transition: .2s;
}

.select-area button.agendar{
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 5%;
    max-width: 200px;
    font-weight: 500;
    font-size: .8rem !important;
    text-transform: uppercase;
}
.select-area button.agendar ion-icon{
    font-size: 1.4rem !important;
}
.select-area .buscar-container{
    width: 100%;
    height: 70%;
    border-radius: 10px;
    background-color: white;
    border: solid 2px var(--corPrincipal) !important;
    display: flex;
    flex-direction: center;
    justify-content: center;
    padding: 2px;
}
.select-area .buscar-container input[type="search"]{
    width: 100%;
    border-radius: 10px;
    outline: none;
    background-color: white;
    border: none;
    padding-left: 5px;
    padding-right: 5px;

}
.select-area .buscar-container button{
    width: 10%;
    border: none;
    background-color: var(--corPrincipal);
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;

}
.select-area .buscar-container button ion-icon{
    color: white;
    font-size: 1.4rem !important;
}

.popup{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.29);
    backdrop-filter: blur(10px);
    flex-direction: row;
    justify-content: center;
    align-items: center;

    display: none;
}

.popup-content{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}
.popup-content form{
    width: 480px;
    height: 600px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    align-items: center;
    background-color: white ;
    border: solid 2px var(--corPrincipal);
    border-radius: 10px;
    position: relative;
}
.popup-content form .close-popup{
    width: 30px;
    height: 30px;
    color: white;
    background-color: rgb(70, 67, 67);
    font-size: 1rem;
    font-weight: 800;
    border: none;
    border-radius: 5px;
    right: 10px;
    top: 10px;
    position: absolute;
    cursor: pointer;
}
.popup-content form .close-popup:hover{
    background-color: red;
}

.row-form{
    width: 100%;
    height: 80px;
    margin-top: 10px;
    margin-bottom: 0px;
    display: flex;
    gap: 10px;
}
.row-form .cabecalho{
    margin-top: 100px;
}


.row-form label{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-transform: capitalize;
    color: var(--corPrincipal);
    gap: 5px;
    font-weight: 600;
    font-size: 1.2rem;
}
.row-form label input{
    border: none;
    outline: none;
    margin-top: 10px;
    padding: 5px;
    color: var(--corPrincipal);
    border-bottom: solid 2px var(--corPrincipal);
}
.row-form label select{
    border-radius: 100px;
    width: 100%;
    height: 30px;
    padding-left: 10px;
    color: var(--corPrincipal);
    outline: none;
    border: solid 2px var(--corPrincipal);
}

#agenda{
    margin-top: 25px;
    width: 200px;
    height: 60px;
    border-radius: 100px;
    border: none;
    font-size: 1.2rem;
    letter-spacing: 2px;
    color: grey;
    background-color: rgb(230, 230, 230);
    transition: .1s ease-in-out;
    cursor: pointer;
}
#agenda:hover{
    color: white;
    background-color: var(--corSecundaria);
    transition: .1s ease-in-out;
}



