*{
    overflow: hidden;
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

.grande
{
    background-color: lightgray;
    width: 100vw;
    height: 100vh;
    display: flex;
    font-family: 'Times New Roman', Times, serif;
}

.lado-direito
{
    width: 50%;
    background-color: lightgray;
    margin: 10px;
}

.lado-esquerdo
{
    width: 50%;
    background-color: white;
    margin: 10px;
    
}

.login
{
    background-color: lightgrey;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 70%;
}

.input-config
{
    width: 100%;
    background-color: whitesmoke;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 0.9em;
    padding: 25px 10px 10px;
}

.lado-esquerdo{
    display: flex;
}
a.esqueci{
    margin-top: 50px;
    display: flex;
    width: 100px;
    height: 30px;
    background-color: rgb(200, 200, 200);
    border: solid 1px rgb(39, 39, 38);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    border-radius: 15px;
    font-size: 16px;
}
a.esqueci:hover{
    transition: background .2s ease-in;
    background: red;
}
