*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  
  /* Menu Fixo do sistema com links de navegação */
  #menu-lateral {
    position: fixed;
    top: 0;
    left: 0;  
    height: 100vh;
    width: 80px;
    background-color: rgb(64, 128, 106);
  }


  body{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
  }
  .container {
    display: flex;
    flex-direction: row;
    width: 90vw;
    max-width: 2280px;
    padding: 5px;
    height: 100vh;
  }

  .sessao-esquerda{
    width: 60%;
    height: 100%;
    padding: 2px;
    background-color: yellowgreen;
    margin-right: 2px;
    display: flex;
    flex-direction: column;

  }

  .sessao-direita{
    width: 40%;
    height: 100%;
    padding: 2px;
    background-color: tomato;
    margin-left: 2px;

  }

  .msg {
    width: 98.5%;
    margin: 20px;
    height: 15%;
  }

  .att {
    width: 98.5%;
    background-color: #D3D3D3;
    margin: 20px;
    height: 25%;
  }

  .cargo {
    width: 98.5%;
    background-color: #D3D3D3;
    margin: 20px;
    height: 30%;
  }

  .con_exa {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
  } 

  .cons {
    width: 100%;
    background-color: #D3D3D3;
    margin: 20px;
    height: 60%;
  }

  .exa {
    width: 100%;
    background-color: #D3D3D3;
    margin: 20px;
    height: 60%;
  }

  .user{
    width: 98.5%;
    background-color:#D3D3D3;
    margin:20px;
    height:20%;
  }

  .calendar {
    width: 98.5%;
    background-color:#D3D3D3;
    margin:20px;
    height:50%;
}
  .din{
    width: 98.5%;
    background-color:#D3D3D3;
    margin:20px;
    height:30%;
  }


