/* 
# Documento de Formatação de Design

Este dorcumeto foi elaborado com o intuito de padronizar a distribuição de classes
e id´s do projeto para uma melhor manutenção, progreesão e densenvolvimento
do trabalho. 
______________________________
Autor: Cloves Neto
Projeto: TCC - Welfare
Instituição: Etec Lauro Gomes
______________________________

#ref: 18/02/2023.
*/


:root{
    /* Cores do site e do sistema */
    --master_color: #83E8BD;
    --suplement_color: #5c957c;
    --bgvariant1_color: white;
    --bgvariant2_color: black; 
    --destak_color:;
    --alert_color:;
    --alertvariant_color:;

}


/* Reset css - Redefinir configuração padrão e cookies do navegador */


