@import url(./reset.css);
@import url(./var.css);

/* Organização da section infosite - conteudo principal */
section.infosite{
    grid-area: i;    

    padding: 5px;

    display: grid;
    gap: 5px;
    grid-template-areas: 
    'ih'
    'im';
    grid-template-rows: 20% 80%;
    grid-template-columns: 100%;
}   
section.infosite header{
    grid-area: ih;
    padding: 5px;
    background-color: rgb(255, 255, 255);
}
section.infosite header .titulo-pagina{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    font-size: 3rem;
    color: var(--corSuporte);
    font-weight: bold;
    text-transform: capitalize;

} 

section.infosite main{
    grid-area: im;
    background-color: white;
    padding: 5px;
    display: flex;
    gap: 10px;
}
