


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.none{
  display: none;
}

html{
  width: 100vw;
  height: 100vh;

}

body {
  width: 100%;
  height: 100%;
  background-color: rgb(210, 255, 240);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;

}

svg {
  width: 24px;
  height: 24px;
}

.container{
  /* Define Tamanho */
  width: 100%;
  height: 100%;
  max-width: 1440px;

  /* Display Grid - separa o espaço de cada contúdo */
  display: grid;

  /* uma unica linha com 1fr(fração da tela) ou seja altura inteira /
  2 colunas, uma com 60px e outra com o calc( restante da fração de tela )  */
  grid-template-areas: "nav main";
  grid-template-columns: 80px calc(100% - 80px);
}

nav.home-menu{
  grid-area: nav;
  background-color: blueviolet;
}

main.principal{
  /* definindo espaço na sessão */
  grid-area: main;
  background-color: tomato;
  overflow-y: scroll;
  
  /* Display Grid - separa o espaço de cada conteúdo  */
  display: grid;
  grid-template-areas: "header header"
                       "div div";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 80px calc(100vh - 80px);

  /* Formatando espaço do conteudo */
  padding: 5px; 
  gap: 5px;
}

header.user-data{
  grid-area: header;
  background-color: turquoise;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

div.info-data{
  grid-area: div;
  background-color: violet;

  display: grid;
  grid-template-areas: "row1 row1"
                       "row2 row2";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 60% 40%;
  gap: 5px;
  padding: 5px;
}

div.row1, div.row2{
  display: grid;
  gap: 5px;
  padding: 5px;
}

div.row1{
  grid-area: row1;
  background-color: aliceblue;

  grid-template-areas: "usuarios agenda";
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
}

.card{
  background-color: rgb(223, 223, 223);
  border-radius: 10px;
}

.card.usuarios{
  grid-area: usuarios;
}

.card.agenda{
  grid-area: agenda;
}

div.row2{
  grid-area: row2;
  background-color: slateblue;

  grid-template-areas: "consulta exame cash";
}





/* #calenderMain {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 10000;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
}
.main {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  color: white;
  background: #007bff;
  font-family: "Raleway", sans-serif;
  text-align: center;
  border-radius: 0rem;
  letter-spacing: 1px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: none;
}
.month {
  text-align: center;
  padding: 10px;
}
.week {
  display: inline-flex;
  text-align: center;
  padding: 10px;
}
.week .wDay {
  padding: 10px;
  margin: 10px;
  color: silver;
}
.date {
  color: silver;
}
#fillDate {
  width: 100%;
  color: silver;
}
#fillDate tr,
td {
  padding: 10px;
  color: silver;
}
.date:hover {
  background: white;
  color: #007bff;
  font-weight: bold;
  cursor: pointer;
}
.date td:hover {
  background: white;
  color: #007bff;
  font-weight: bold;
}
.year,
.month {
  padding: 5px;
  cursor: pointer;
}
.yearDiv {
  position: relative;
  font-size: 25px;
  padding: 10px;
}
.monthDiv {
  position: relative;
  font-size: 20px;
  padding: 10px;
}
.left {
  position: absolute;
  left: 10px;
  cursor: pointer;
}
.right {
  position: absolute;
  right: 10px;
  cursor: pointer;
}
.wDay {
  cursor: default;
} */

