
@import url(../reset.css);


/* Formatação da Home */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.granbox{
  margin: auto;
  padding: 10px;

  width: 100%;
  max-width: 1440px;
  height: 100vh;

  background-color: blueviolet;

  display: grid;
  grid-template-areas: 'm i';
  grid-template-columns: 200px calc(100% - 200px);
  grid-template-rows: 100%;

}
aside.menu{
  grid-area: m;
  background-color: aqua;

  padding: 10px;
  border-radius: 20px;


}
section.infosite{
  grid-area: i;
  padding: 10px;
}

.img-perfil{
  width: 50px;
  height: 50px;
}