/* Reset */



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: Arial, Helvetica, sans-serif;
}
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, 
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield;
}



/* Espaço de definição de variaveis */
:root{
    --principal: #83E8BD;
    --secundaria: #51BEAB;
    --desativado: #DDE4E4;
    --desativado_color: grey;
    --palheta_1: white;
    --palheta_2: black;
    --palheta_3: rgb(88, 88, 88);
    --palheta_4: #4B6E6D;

}
 /* Conteúdo alinhado lado a lado | divisão da seção esqueda e direita */
.container{
    display: flex;
    flex-direction: row;
}
/* Formatação seção de Formulario de Login */
.login{
    /* direção do conteúdo interno  */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    /* tamanho da seção */
        width: 100%;
        max-width: 850px;
        min-height: 100vh;
    /* espaçamento interno */
        /* clamp( min-medida, valor-desejavél, max-medida) */
        padding: clamp(35px, 8%, 70px);
    /* cor de fundo */
        background-color: whitesmoke;
}
.container_titulo{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 30px;
}
.login_titulo{
    color: var(--palheta_4);
    font-size: 2rem;
    font-weight: bolder;
    cursor: default;
}
.login_label{
    display: block;
    width: 100%;
    margin-bottom: 60px;
    position: relative;
}
.login_label input{
    width: 90%;
    outline: none;
    font-size: 0.9em;
    border: none;
    background-color: transparent;
    border-bottom: solid 2px var(--palheta_4);
    padding: 20px 5px 10px;
    font-weight: 600;
    color: var(--secundaria);
    margin-top: 15px;
}
.login_label input:focus{   
    border-bottom: solid  2px var(--principal);
}

.login_label span{
    position: absolute;
    top: 20px;
    font-size: 1em;
    font-weight: 500;
    color: var(--palheta_4);
    cursor: text;
    transition: all .5s ease;
}
.login_label .span-active{
    position: absolute;
    top: 10px;
    color: var(--principal);
    font-weight: 700;
    font-size: 0.8em;
}


/* Formatação do botão de Login */
.login_button{
    background-color: var(--principal);
    color: var(--palheta_1);
    width: 230px;
    height: 60px;
    border-radius: 80px;
    cursor: pointer;
    border: none;
    font-weight: 800px;
    letter-spacing: 1.5px;
    transition: .2s ease;
    font-size: 2em;
    margin-top: 20px;

}
.login_button:disabled{
    width: 230px;
    color: var(--desativado_color);
    background-color: var(--desativado);
    border: none;
    border-radius: 80px;
    font-size: 2em;
    font-weight: 800px;
    letter-spacing: 1.5px;  
}
.login_link{
    color: var(--palheta_4);
    font-size: 0.9em;
    text-decoration: none;
}

.login_link:hover{
    color: var(--principal);
}
.submit_container .login_link{
    margin-top: 50px;

}
/* Disposição do conteúdo do formulario */
.wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* Disposição da imagem da Seção-Direita */
.wallpaper{
    width: 100%;
    background-color: var(--secundaria);
    background-image: url('../assets/walpaper.svg');
    background-size: 80;
    background-repeat: no-repeat;
    background-position: top;
    position: relative;
    flex: 1;
}

/* Edit layout registro */
.interativo-container .dados{
    display: flex;
    justify-content: space-between;
}
.dados{
   width: 100%; 
}
.container_endereco{
    display: flex;
    flex-direction: row;
}
.sessao_dado{
    width: 50%;
}