@import url(../homestyle/padrao-style.css);


.btns{
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
}
.btns .card{
    width: 70%;
    height: 130px;
    background-color: rgb(81, 189, 138);  
    color: white;
    padding: 15px;
    font-size: 1.6rem !important;
    text-transform: capitalize;
    letter-spacing: 3px;
}
.btns .card span{
    display: block;
    line-height: 80px;
    font-size: 4rem !important;
}

.lista{
    overflow: hidden;
    overflow-y: scroll;
    border: solid 2px rgb(210, 252, 252);
    border-radius: 5px;
    
}
.lista .linha{
    width: 100%;
    height: 80px;
    margin-bottom: 10px;
    display: grid;
    grid-template-areas: 'perfil indice';
    grid-template-columns: 20% 80%;
    grid-template-rows: 100%;
}
.lista .linha aside.perfil{
    grid-area: perfil;
    width: 100%;
    height: 100%;
    display: flex;
    padding-left: 5px;
}
.lista .linha aside.perfil img{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 5pc;
    border: solid 3px aqua;
}
.lista .linha section.indice{
    /* font-size: 24px !important; */
    color: rgb(90, 164, 135);
}
.lista .linha section.indice p{
    font-weight: 600;
    margin-bottom: 10px;
}
.lista .linha section.indice p,
.lista .linha section.indice small span{
    color: rgb(9, 62, 48);
} 
.msgSlide{
    width: 500px;
    height: 100%;
    background-color: aliceblue;
    padding-left: -10px;
}
.msgContainer{
    width: 100%;
    height: 100%;
}
.msgCard{
    background-color: aqua;
    height: 100%;
}
.msgCard p{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}