/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: Arial, Helvetica, sans-serif;
}
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, 
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* Formatação da Home */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1rem !important;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    letter-spacing: 2px;

}
/* Organização container */
.granbox{
    margin: auto;
    padding: 15px;

    width: 100%;
    max-width: 1440px;
    height: 100vh;

    display: grid;
    grid-template-areas: 'm i';
    grid-template-columns: 200px calc(100% - 200px);
    grid-template-rows: 100%;
    gap: 10px;

}
/* Organização aside - menu */
/* Organização aside - menu */
aside.menu{
    grid-area: m;
    background-color: cadetblue;
    position: relative;
    padding: 10px;
    border-radius: 10px;

}

aside.menu .user-profile{
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

aside.menu .user-profile a{
    display: block;
    padding: 5px;
    border-radius: 10pc;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;   
}
aside.menu .user-profile a img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}
aside.menu nav{
    width: 100%;
    height: 100%;
    display: flex;
    padding: 15px;
    flex-direction: column;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
}
aside.menu nav ul{ 
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 20px;
}
aside.menu nav ul li{
    width: 100%;
    height: 30px;
    padding-left: 5px;
    gap: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
} 
aside.menu nav ul li ion-icon{
    font-size: 1.4rem !important; 
    color: white;
    cursor: pointer;
}
aside.menu nav ul li:hover{
    background-color: white;
    border-radius: 5px;
    transition: .2s;
}

aside.menu nav ul li:hover a,
aside.menu nav ul li:hover ion-icon{
    color: cadetblue;
}
aside.menu nav a.sair{
    width: 50px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: white;
}
aside.menu nav a.sair ion-icon{
    color: cadetblue !important;
    font-size: 1.6rem !important;
    padding-left: 5px;
}

nav ul li{ 
width: 100%;
height: 20px;
}
nav ul li a{
width: 100%;
height: 100%;
color: white;
}
nav ul li a ion-icon{
    font-size: 2.4rem !important;

}




/* Organização da section infosite - conteudo principal */
section.infosite{
    grid-area: i;    
    padding: 15px;
    display: grid;
    gap: 5px;
    grid-template-areas: 
    'ih'
    'im';
    grid-template-rows: 35% 65%;
    grid-template-columns: 100%;
}

/* Header - mensagem */
.infoheader{
    grid-area: ih;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: flex-start;
    align-items: flex-end;
}
.infoheader h1, h1 span {
    width: 100%;
    text-align: left;
    margin-bottom: 15px;
    font-size: 2rem !important;
}
.infoheader .banner{
    width: 100%;
    height: 80%;
    background-color: rgb(81, 189, 138);  
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

/* Organização infomain - conteudo principal (lista e botões) */

.infomain{
    padding: 10px;
    gap: 5px;
    display: flex;
}
.lista, .btns{
    width: 50%;
    height: 100%;
}
.lista{
    overflow: hidden;
    overflow-y: scroll;
    padding: 15px;
}
.lista .linha{
width: 100%;
height: 150px;
display: grid;
grid-template-areas: 
'aside'
'main';
grid-template-columns: 15% calc(1fr - 15%);
grid-template-rows: 40px;
border-bottom: solid 2px gray;
}



.btns{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
}
.btns .card{
    width: 300px;
    height: 120px;
    background-color: cadetblue;  
    color: white;
    padding: 15px;
    font-size: 1.4rem !important;
    text-transform: capitalize;
    letter-spacing: 3px;
}
.btns .card span{
    display: block;
    line-height: 80px;
    font-size: 4rem !important;
}

.lista{
    overflow: hidden;
    overflow-y: scroll;
    border: solid 2px rgb(210, 252, 252);
    border-radius: 5px;
    
}
.lista .linha{
    width: 100%;
    height: 80px;
    margin-bottom: 10px;
    display: grid;
    grid-template-areas: 'perfil indice';
    grid-template-columns: 20% 80%;
    grid-template-rows: 100%;
}
.lista .linha aside.perfil{
    grid-area: perfil;
    width: 100%;
    height: 100%;
    display: flex;
    padding-left: 5px;
}
.lista .linha aside.perfil img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5pc;
    border: solid 3px aqua;
}
.lista .linha section.indice{
    /* font-size: 24px !important; */
    color: rgb(90, 164, 135);
}
.lista .linha section.indice p{
    font-weight: 500;
    margin-bottom: 10px;
}
.lista .linha section.indice p,
.lista .linha section.indice small span{
    color: rgb(9, 62, 48);
} 
.msgSlide{
    width: 500px;
    height: 100%;
    background-color: aliceblue;
    padding-left: -10px;
}
.msgContainer{
    width: 100%;
    height: 100%;
}
.msgCard{
    background-color: aqua;
    height: 100%;
}
.msgCard p{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}