@import url(../reset.css);
@import url(../var.css);


input[type=number] {
    -moz-appearance:textfield;
}
body{
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

 /* Conteúdo alinhado lado a lado | divisão da seção esqueda e direita */
.container{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1440px;
    height: 100%;
    max-height: 1200px;
    margin: 0 auto;
}

/* Formatação seção de Formulario de Login */
.login{
    /* direção do conteúdo interno  */
        display: flex;
        flex-direction: column;
        align-items: center;
    /* tamanho da seção */
        width: 50%;
        max-width: 850px;
        min-height: 90%;
    /* espaçamento interno */
        /* clamp( min-medida, valor-desejavél, max-medida) */
        padding: clamp(30px, 6%, 60px);
    /* cor de fundo */
        background-color: var(--palheta_1);
}
.container_titulo{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.login_titulo{
    color: var(--palheta_4);
    font-size: 2rem;
    font-weight: bolder;
    cursor: default;
}
.login_label{
    display: inline-block;
    width: 90%;
    height: 40px;
    position: relative;
}
.login_label input{
    width: 100%;
    outline: none;
    font-size: 0.9em;
    border: none;
    background-color: transparent;
    border-bottom: solid 2px var(--palheta_4);
    padding: 20px 5px 10px;
    font-weight: 600;
    color: var(--secundaria);
    margin-top: 15px;
}
.login_label input:focus{   
    border-bottom: solid  2px var(--principal);
}
.login_label span{
    position: absolute;
    top: 20px;
    font-size: 1em;
    font-weight: 500;
    color: var(--palheta_4);
    cursor: text;
    transition: all .5s ease;
}
.login_label .span-active{
    position: absolute;
    top: 10px;
    color: var(--principal);
    font-weight: 700;
    font-size: 0.8em;
}

/* Formatação do botão de Login */
.login_button{
    background-color: var(--principal);
    color: var(--palheta_1);
    width: 230px;
    height: 60px;
    border-radius: 80px;
    cursor: pointer;
    border: none;
    font-weight: 800px;
    letter-spacing: 1.5px;
    transition: .2s ease;
    font-size: 2em;
    margin-top: 20px;

}
.login_button:disabled{
    width: 230px;
    color: var(--desativado_color);
    background-color: var(--desativado);
    border: none;
    border-radius: 80px;
    font-size: 2em;
    font-weight: 800px;
    letter-spacing: 1.5px;  
}
.login_link{
    color: var(--palheta_4);
    font-size: 0.9em;
    text-decoration: none;
}
.login_link:hover{
    color: var(--principal);
}
.submit_container {
    width: 100%;
    height: 100px;
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;

}

/* Disposição do conteúdo do formulario */
.wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

/* Disposição da imagem da Seção-Direita */
.wallpaper{
    width: 50%;
    background-color: var(--secundaria);
    background-image: url('../assets/walpaper.svg');
    background-size: 900px;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    flex: 1;
}

/* Edit layout registro */
.interativo-container{
    display: flex;
    width: 100%;
    height: 100%;
}
.dados{
    display: flex;
    width: 95%; 
    height: 100%;
    overflow: hidden;
    padding: 5px;
}
.container_endereco{
    display: flex;
    flex-direction: row;
}
.sessao_dado{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.container_cpf{
    display: flex;
    flex-direction: column;
    height: 40px;
    gap: 10px;
}
.container_cpf small{
    width: 100%;
    text-align: end;
    font-size: 0.6rem;
    color: var(--palheta_4);
}
.container_cargo{
    height: 60px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.container_cargo p{
    color: #4B6E6D;
}
.container_cargo select{
    width: 100%;
    height: 50px;
    padding-left: 15px;
    padding-right: 10px;
    outline: none;
    border: var(--palheta_4) 3px solid;
    color: #4B6E6D;
    border-radius: 100px;
}
.container_cargo select:hover{
    border: var(--principal) 3px solid;
}
