@import url(../reset.css);


/* Formatação Geral */
body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/* Container - Limita o tamanho máximo do conteúdo na pagina e ajusta o espaço se cada sessão */
.granbox{
    width: 100%;
    max-width: 1440px;
    height: 100%;
    margin: auto !important;
    padding: 20px;

    gap: 15px;
    display: grid;
    grid-template-areas: "menu principal";
    grid-template-columns: 200px calc(100% - 200px);
    grid-template-rows: 100%;
}

.menu{
    background-color: aqua;
    border-radius: 15px;
    grid-area: menu;
}
.principal{
    grid-area: principal;
    position: relative;
    padding: 10px;

    display: grid;
    grid-template-areas:
    "header header" 
    "lista view"
    "footer footer"
    ;
    grid-template-columns: auto 300px;
    grid-template-rows: 10% 80% 10% ; /* tamanho das linhas */
    gap: 5px;

}
.header{
    grid-area: header;
    background-color: coral;

    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lista{
    grid-area: lista;
    background-color: tomato;

    padding: 10px;
}
.lista .table{
}

.view{
    grid-area: view;
    background-color: yellowgreen;

    padding: 15px;

    display: grid;
    grid-template-areas:
     "procurar"
     "exibe"
    ;
    gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 5% 93%;
}
.footer{
    grid-area: footer;
    display: block;
    background-color: blueviolet;
}
.procurar{
    background-color: aqua;
    grid-area: procurar;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.exibe{
    background-color: white;
    grid-area: exibe;
}

/* Pop up disparado com Função no Js */
.popup{
    display: none;
    padding: 15px;
    width: 1000px;
    height: 1000px;
}
.popup form{
    background-color: aqua;
    border-radius: 10px;
    width: 1000px;
    height: 1000px;
}


.dados-paciente{
    display: flex;
    justify-content: space-between;
}

.ativo{
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: rgba(5, 5, 5, 0.274);
    backdrop-filter: blur(50px);
    z-index: 10;
}