
@import url(../reset.css);
@import url(../var.css);

body{
    width: unset;
    height: unset;
    display: unset;
}
 /* Conteúdo alinhado lado a lado | divisão da seção esqueda e direita */
.container{
    display: flex;
    flex-direction: row;
}
/* Formatação seção de Formulario de Login */
.login{
    /* direção do conteúdo interno  */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    /* tamanho da seção */
        width: 100%;
        max-width: 500px;
        min-height: 100vh;
    /* espaçamento interno */
        /* clamp( min-medida, valor-desejavél, max-medida) */
        padding: clamp(35px, 8%, 70px);
    /* cor de fundo */
        background-color: whitesmoke;
}
.container_titulo{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 30px;
}
.login_titulo{
    color: var(--palheta_4);
    font-size: 2rem;
    font-weight: bolder;
    cursor: default;
}
.login_label{
    display: block;
    width: 100%;
    margin-bottom: 60px;
    position: relative;
}
.login_label input{
    width: 100%;
    outline: none;
    font-size: 0.9em;
    border: none;
    background-color: transparent;
    border-bottom: solid 2px var(--palheta_4);
    padding: 20px 5px 10px;
    font-weight: 600;
    color: var(--secundaria);
    margin-top: 30px;
}
.login_label input:focus{   
    border-bottom: solid  2px var(--principal);
}

.login_label span{
    position: absolute;
    top: 45px;
    font-size: 1.2em;
    font-weight: 500;
    color: var(--palheta_4);
    cursor: text;
    transition: all .5s ease;
}
.login_label .span-active{
    position: absolute;
    top: 30px;
    color: var(--principal);
    font-weight: 700;
    font-size: 0.8em;
}
/* Disposição da area de Lembrar acesso e Esqueceu senha */
.interativo-container{
    position: relative;
}
small{
    width: 100%;
    height: 20px;
    position: absolute;
    bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    padding: 5px 0px;
    color: var(--palheta_4);
    font-size: 0.8em;
}
small .lembrar{
    display: flex;
    width: 50%;
    height: 100%;
}
small .btn-rounded{
    width: 35px;    
    height: 15px;
    margin-left: 10px;
    border-radius: 50px;
    background-color: var(--desativado);
    position: relative;
    padding: 2px;
    transition: ease-in-out background-color .5s;
}
small .btn-rounded::after{
    position: absolute;
    top: 1.8px;
    left: 4px;
    border-radius: 100%;
    content: '';
    width: 11px;
    height: 11px;
    background-color: var(--desativado_color); 
    transition: ease-in-out transform .5s, ease-in-out background-color .5s;   
}
.btn-active{
    background-color: var(--principal)!important;
}
.btn-active::after{
    background-color: var(--palheta_4)!important;
    transform: translateX(150%);
}


/* Formatação do botão de Login */
.login_button{
    background-color: var(--principal);
    color: var(--palheta_1);
    width: 230px;
    height: 60px;
    border-radius: 80px;
    cursor: pointer;
    border: none;
    font-weight: 800px;
    letter-spacing: 1.5px;
    transition: .2s ease;
    font-size: 2em;
    margin-top: 20px;

}
.login_button:disabled{
    width: 230px;
    color: var(--desativado_color);
    background-color: var(--desativado);
    border: none;
    border-radius: 80px;
    font-size: 2em;
    font-weight: 800px;
    letter-spacing: 1.5px;  
}
.login_link{
    color: var(--palheta_4);
    font-size: 0.9em;
    text-decoration: none;
}

.login_link:hover{
    color: var(--principal);
}
.submit_container .login_link{
    margin-top: 50px;

}
/* Disposição do conteúdo do formulario */
.wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* Disposição da imagem da Seção-Direita */
.wallpaper{
    width: 100%;
    background-color: var(--secundaria);
    background-image: url('../assets/walpaper.svg');
    background-size: cover;
    background-position: center;
    position: relative;
    flex: 1;
}

.submit_container a{
    color: grey;
}
.submit_container a:hover{
    color: var(--corPrincipal);
}